@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --bs-dark-rgb: 32, 44, 55;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 14px;
}

html,
body {
  height: 100vh;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

.dark-theme a {
  color: white;
}

.light-theme a {
  color: #111517;
}

.dark-theme .btn {
  border-color: #334757;
}

.light-theme .btn {
  border-color: #e0e0e0;
}

.details #details_title {
  font-weight: 800;
}

.dark-theme .details #details_title, .details .dark-theme #details_title {
  color: white;
}

.light-theme .details #details_title, .details .light-theme #details_title {
  color: #111517;
}

.dark-theme html,
.dark-theme body, .dark-theme .btn {
  color: white !important;
  background-color: #2b3945 !important;
}

.light-theme html,
.light-theme body, .light-theme .btn {
  color: #111517 !important;
  background-color: white !important;
}

.card {
  font-size: 16px;
}

.dark-theme .card {
  color: white;
  background-color: #2b3945;
}

.light-theme .card {
  color: #111517;
  background-color: white;
}

.card .card-title {
  font-weight: 800;
}

.dark-theme .card .card-title {
  color: white;
}

.light-theme .card .card-title {
  color: #111517;
}

.card .card_bold {
  font-weight: 600;
}

.card .card-text {
  margin-bottom: 0.5rem;
}

.card {
  margin: 0 10px;
}

.card .card-img-top {
  width: 100%;
  min-height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.details {
  font-size: 16px;
}

.details .details_bold {
  font-weight: 600;
  margin-right: 7px;
}

.dark-theme .details .details_btn {
  color: white;
  background-color: #2b3945;
  border-color: #334757;
}

.light-theme .details .details_btn {
  color: #111517;
  background-color: white;
  border-color: #e0e0e0;
}

.dark-theme .details .details_btn:hover {
  border-color: #334757;
  -webkit-box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px !important;
          box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px !important;
}

.light-theme .details .details_btn:hover {
  border-color: #e0e0e0;
  -webkit-box-shadow: !important;
          box-shadow: !important;
}

.details_flag {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 992px) {
  .details_flag {
    width: 100%;
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.dark-theme .input-group-text {
  border-color: #2b3945;
}

.light-theme .input-group-text {
  border-color: white;
}

#search_icon {
  border: none;
}

.dark-theme #search_icon {
  background-color: #2b3945;
  color: white;
}

.light-theme #search_icon {
  background-color: white;
  color: #111517;
}

#search_input {
  font-size: 14px;
}

.dark-theme #search_input {
  background-color: #2b3945;
  border-color: #2b3945;
  color: white;
}

.light-theme #search_input {
  background-color: white;
  border-color: white;
  color: #111517;
}

.dark-theme #search_input::-webkit-input-placeholder {
  color: white;
}

.dark-theme #search_input:-ms-input-placeholder {
  color: white;
}

.dark-theme #search_input::-ms-input-placeholder {
  color: white;
}

.dark-theme #search_input::placeholder {
  color: white;
}

.light-theme #search_input::-webkit-input-placeholder {
  color: #111517;
}

.light-theme #search_input:-ms-input-placeholder {
  color: #111517;
}

.light-theme #search_input::-ms-input-placeholder {
  color: #111517;
}

.light-theme #search_input::placeholder {
  color: #111517;
}

#search_input:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

#select {
  font-size: 14px;
  font-weight: 300;
  background-image: none;
  border: none;
}

.dark-theme #select {
  color: white;
  background-color: #2b3945;
  border-color: #202c37;
}

.light-theme #select {
  color: #111517;
  background-color: white;
  border-color: #fafafa;
}

#site_title {
  font-size: 24px;
  font-weight: 800;
}

.dark-theme #site_title :hover {
  color: white;
}

.light-theme #site_title :hover {
  color: #3d4b52;
}

.dark-theme #nav_toggle {
  background-color: #2b3945 !important;
}

.light-theme #nav_toggle {
  background-color: white !important;
}

.toggle_link {
  font-weight: 600;
}

.dark-theme .toggle_link {
  color: white;
}

.light-theme .toggle_link {
  color: #111517;
}

.dark-theme .toggle_link :hover {
  color: white;
}

.light-theme .toggle_link :hover {
  color: #111517;
}

#site_title {
  font-size: 14px !important;
}

.fa-moon {
  font-size: 12px;
}

.toggle_link {
  font-size: 12px;
}

@media (min-width: 992px) {
  #site_title {
    font-size: 24px !important;
  }
  .fa-moon {
    font-size: 20px;
  }
  .toggle_link {
    font-size: 20px;
  }
}
/*# sourceMappingURL=index.css.map */